
@{
    ViewBag.Title = "Compras";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section scripts {
    @Scripts.Render("~/bundles/comprav")
}



<h2>Compras</h2>

<div class="table-responsive">
    <table class="table">
        <tr>
            <th>No. Compra</th>
            <th>No. Usuario</th>
            <th>Usuario</th>
            <th>Total</th>
            <th>Fecha</th>
            <th>Detalle</th>
        </tr>
        <tbody data-bind="foreach: listaComprasConUsuario">
            <tr>
                <td><span data-bind="text: ID"></span></td>
                <td><span data-bind="text: UsuarioId"></span></td>
                <td><span data-bind="text: UsuarioNombre"></span></td>
                <td><span data-bind="text: Total"></span></td>
                <td><span data-bind="text: Fecha"></span></td>

                <td>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" data-bind="click:$parent.verDetalle">
                        Ver Detalle
                    </button>
                     
                </td>
            </tr>
        </tbody>
    </table>
</div>


<!-- ko if:listaDetallesEspecifico() -->
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Detalle</h4>
            </div>
            <div class="modal-body">

                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Id Producto</th>
                            <th>Producto</th>
                            <th>Cantidad</th>
                            <th>Precio</th>
                            
                        </tr>
                        <tbody data-bind="foreach: listaDetallesEspecifico">
                            <tr>
                                <td><span data-bind="text: ProductoId"></span></td>
                                <td><span data-bind="text: Nombre"></span></td>
                                <td><span data-bind="text: Cantidad"></span></td>
                                <td><span data-bind="text: Precio"></span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!-- /ko -->
